
/enova365EmployeeFeedback/bin
/enova365EmployeeFeedback/enova365EmployeeFeedback.Tests
/enova365EmployeeFeedback/enova365EmployeeFeedback.UI/obj
/enova365EmployeeFeedback/enova365EmployeeFeedback/obj
